<div>
	<body>
		<h1>President</h1>
		<p>Travis Herbanek - herbanek@mit.edu</p>
		<h1>Vice President</h1>
		<p>Seth Studebaker - sethstud@mit.edu</p>
		<h1>Social Chairs</h1>
		<p>Rob Disanto - rdisanto@mit.edu</p>
		<p>Ryan Kelly - rhkelly@mit.edu</p>
		<h1>House Manager</h1>
		<p>Raoul Khouri - rrk@mit.edu</p>
	</body>
</div>